*, html {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: black;
}

a {
    color: #000;
    text-decoration: none;
}

@-webkit-keyframes placeholdLoading {
    from {
        background-color: #cee0e6;
    }
    to {
        background-color: #aad1de;
    }
}

@keyframes placeholdLoading {
   from {
        background-color: #cee0e6;
   }
   to {
    background-color: #aad1de;
   }
}

.order-placeHolder.loading {
    -webkit-animation: placeholdLoading 1s ease-in-out infinite alternate;
    animation: placeholdLoading 1s ease-in-out infinite alternate;
}

.order-placeHolder, .Orders .Order {
    background: #cee0e6;
    width: 450px;
    min-height: 100px;
    padding: 20px;
    margin-bottom: 25px;
    float: left;
    clear: both;
}

.orderPOVtitle, .pageTitle {
    display: block;
    float: left;
    clear: both;
    font-weight:  bold;
    font-size: .8125rem;
    margin-bottom: 25px;
}

.orderPOVloader {
    width: 25px;
    margin-left: 10px;
    float: left;
}

.OrderDetails {
    float: left;

    span {
        float: left;
        clear: both;
    }
    .Item_Title {
        font-weight: bold;
    }
}

button.pending {
    background-image: url("../Assets/Images/button.gif");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 34px;

    .btnTxt {
        display: none;
    }
}

.clrBth { clear: both; }

.guestWrapper {
    width: 100%;
    height: 100vh;
    position: relative;

    .contents {
        height: 100vh;
        //background: #f0f0f0;
        background-image: url("../Assets/Images/brickBackground.png");
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        /*@media (min-width: 992px) {
            width: 50%;
        }*/

        .login, .forgot, .register, .recover {
            width: 85%;
            height: auto;
            border: 1px #ccc solid;
            border-radius: 5px;
            padding: 20px;
            padding-top: 60px;
            background-color: #fff;
            background-image: url("../Assets/Images/headerLogo.png");
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 20px;

            @media (min-width: 768px) {
                width: 50%;
            }

            @media (min-width: 992px) {
                width: 30%;
            }

            h1 {
                font-size: 1.875rem;
                font-weight: 500;
                margin: 15px 0;
            }

            .teaserTxt {
                color: rgba(0, 0, 0, .87);
                font-size: .8125rem;
                font-weight: 300;
            }

            .guestForm {
                margin: 50px 0 30px;
                
                input, textarea, select {
                    width: 100%;
                    padding: 6px 10px;
                    margin: 10px 0;
                    border: 1px solid #ddd;
                    box-sizing: border-box;
                    display: block;
                }
                
                button {
                    width: 100%;
                    height: 34px;
                    background-color: rgb(90, 230, 169);
                    color: #fff;
                    font-size: 1rem;
                    border: 0;
                    padding: 8px;
                    border-radius: 4px;
                    cursor: pointer;
                }

                .errorMsg {
                    color: #ff0000;
                    font-size: .8125rem;
                }
            }

            .guestLink {
                color: rgba(0, 0, 0, .87);
                font-size: .8125rem;
                display: block;
                clear: both;
                margin-top: 20px;

                a {
                    color: rgb(90,169,230);
                    text-decoration: underline;
                }
            }
        }
    }

    .teaserCard {
        display: none;
        position: absolute;
        width: 50%;
        left: auto;
        right: 0;
        top: 0;
        bottom: 0;
        background: green;

        @media (min-width: 992px) {
            //display: flex;
            align-items: center;
            justify-content: center;
        }

        #teaserImg {
            width: 95%;
            height: auto;
        }
    }
}

.mainWrapper {
    width: 100%;
    height: 100vh;
    background-image: url("../Assets/Images/brickBackground.png");

    .topHeader {
        width: calc(100% - 20px);
        height: auto;
        display: inline-block;
        margin: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid #52a0f7;
        position: relative;

        @media (min-width: 992px) {
            width: 990px;
            margin: 0 auto;
            display: block;
        }

        #Logo, #Logotxt {
            float: left;
        }

        #Logotxt {
            color: #e96fa1;
            font-family: 'Courier New';
            font-size: 1.125rem;
            padding: 10px 0 0 10px;
            font-weight: 700;
        }

        .rightNav {
            width: auto;
            position: absolute;
            left: auto;
            right: 0;
            padding-top: 12px;

            .buttonWrapper {
                display: block;
                float: left;
                font-size: .9rem;
                background-color: #d8dfea;
                border-color: #52a0f7;
                border-style: solid;
                border-width: 1px 2px;
                padding: 8px;
                margin-left: 8px;
                border-radius: 4px;
            }
        }

        .sideNav {
            width: 100%;
            height: calc(100% - 83px);
            top: 83px;
            left: 100%;
            padding: 20px;
            background: #52a0f7;
            transition-duration: .5s;
            position: fixed;
            z-index: 1;

            &.openNav {
                left: 0%;
            }

            .sideNavItem {
                width: 100%;
                padding: 15px 20px;
                color: #fff;
                border-bottom: 2px #fff solid;
            }
        }
    }

    .mainContents {
        width: calc(100% - 20px);
        height: auto;
        margin: 10px;
        background: #fff;
        
        @media (min-width: 992px) {
            width: 990px;
            margin: 0 auto;
            margin-top: 10px;
        }

        .contentBox {
            margin: 10px;
            display: inline-block;
        }
    }
}